.stories {
    list-style: none;
    display: flex;
    gap: 30px;
    button {
        cursor: pointer;
        border: none;
        margin: 0;
        padding: 0;
        background: transparent;
    }
}
