ul.stories__list
    li.stories__item(v-for="(story, ndx) in trendings" key="story.id" :id="story.id")
        button(aria-label="Посмотреть историю" title="Посмотреть историю" @click="$emit('storyClick', ndx)")
            user(:id="story.id" :name="story.name" :src="story.owner.avatar_url" :in-stories="true" :active="isActive")
