ul.stories
    button(v-for="story in userStories" key="story.user.name" aria-label="Посмотреть историю" title="Посмотреть историю")
        user(:name="story.user.name" :src="story.user.src" :in-stories="true" :active="isActive" :online="isOnline")
