.storie {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.storie__img {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.storie__img--active {
    border: 2px solid #A6328D;
}

.storie__user {
    font-size: 10px;
    margin-top: 10px;
}


