p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;
  font-size: 12px;
}
.issues {
  margin: 10px 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.issue {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  font-size: 14px;
  line-height: 22px;
}
.issue__author {
  font-weight: bold;
}
