div.user(:class="{'inNav': inNav, 'inStoriesPost': inStoriesPost, 'storie': inStories, 'storie--online': online, 'storie--active': active}")
    div.user__img
        img(:src="src")
    div.user__text {{name}}
