ul.nav__list(aria-label="Меню сайта")
    li.nav__item
        button.nav__btn(aria-label="Главная", title="Главная")
            icons(name="home")
    li.nav__item
        button.nav__btn.nav__btn--user(aria-label="Профиль" title="Профиль")
            user(:src="currentUser.avatar_url", :name="currentUser.login" @click="$router.push({name: 'info'})")
    li.nav__item
        button.nav__btn(aria-label="Выход" title="Выход" @click="logout")
            icons(name="exit")
