x-header
main.main
    div.main__container
        Post(post-title="Post Title" post-content="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, nostrum aspernatur, ipsum minus explicabo tempora at quibusdam provident ducimus delectus numquam odio est aliquam quasi impedit tempore voluptas, earum eveniet." post-author="Author1" post-author-image="assets/user1.png" stars="200" forks="300" :post-comments="[{'author':'user123', 'text': 'lorem ipsum bla bla bla'}]" post-date="15 may" )
