.storyslide(:class="{'active': active}")
    .storyslide__header
        timeline(:active="active" @onFinish="$emit('onProgressEnd')")
        .storyslide__user
            user(:in-stories-post="true" :name="data.username" :src="data.userAvatar")
    .storyslide__content
        spinner(v-if="loading")
        template(v-else)
            div(v-if="data.content?.length" v-html="data.content")
            placeholder(v-else :paragraphs="4")
    .storyslide__footer
        x-button(caption="Follow")
    template(v-if="active")
        button(v-if="btns.includes('next')" class="btn btn-next" @click="onNext")
            icons(name="next")
        button(v-if="btns.includes('prev')" class="btn btn-prev" @click="onPrev")
            icons(name="prev")
