.storyslide {
  width: 376px;
  background: #FFFFFF;
  border-radius: 6px;
  position: relative;
  transform: scale(.8);
  transition: .4s;
  &.active {
    transform: scale(1);
    z-index: 100;
  }
}
.storyslide__header {
  padding: 8px;
  border-bottom: 1px solid #CACACA;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.storyslide__content {
  padding: 20px 18px;
  height: 500px;
  max-height: 500px;
  overflow-y: scroll;
  font-size: 14px;
  color: #404040;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.051) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    margin-bottom: 24px;
  }
  p {
    margin-bottom: 14px;
  }
}
.storyslide__footer {
  padding: 24px 54px 32px 54px;
  border-top: 1px solid #CACACA;
  button {
    width: 100%;
    height: 44px;
  }
}
.btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid black;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 20px);
  svg {
    height: 18px;
  }
  &:hover {
    svg {
      color: #31AE54;
    }
  }
}
.btn-prev {
  left: -50px;
}
.btn-next {
  right: -50px;
}
