div.post
    user(:name="username", :src="avatar")
    slot
        div.post__content
            h3.post__header {{postTitle}}
            p.post__text {{postContent}}
            actions(:buttons="buttons")
    div.post__issues
        toggler(label="Hide issues" @onToggle="show")
        issues(v-if="shown" :postIssuesCount="postIssuesCount" key="post" :url="url")
    span.post__date {{this.date}}
