div.post
    author
    div.post__content
        h3.post__header Vue.js
        p.post__text JavaScript framework for building interactive web applications
        actions
    div.post__issues
        toggler(label="Hide issues")
        ul.post__comments
            li.post__comment.comment
                div.comment__author adfsadf
                div.comment__text ppoipoeiqwrpoqweirpowq
            li.post__comment.comment
                div.comment__author adfsadf
                div.comment__text ppoipoeiqwrpoqweirpowq
            li.post__comment.comment
                div.comment__author adfsadf
                div.comment__text ppoipoeiqwrpoqweirpowq
    span.post__date 15 may
