div.post
    author(:name="postAuthor", :src="postAuthorImage")
    slot
        div.post__content
            h3.post__header {{postTitle}}
            p.post__text {{postContent}}
            actions(:stars="stars", :forks="forks")
    div.post__issues
        toggler(label="Hide issues")
        ul.post__comments
            li.comment(v-for="comment in postComments")
                div.comment__author {{comment.author}}
                div.comment__text {{comment.text}}
    span.post__date {{postDate}}
