.header {
    background: #FAFAFA;
    padding-top: 44px;
}
.container {
    display: flex;
    flex-direction: column;
}
.header__topline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;
    svg {
        color: #292929;
        width: 174px;
        height: 35px;
    }
}

