.header {
    background: #FAFAFA;
    box-shadow: 0 0.33px 0 rgba(60, 60, 67, 0.29);
    padding-top: 44px;
    padding-bottom: 44px;
}
.container {
    display: flex;
    flex-direction: column;
}
.header__topline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;
    svg {
        color: #292929;
        width: 174px;
        height: 35px;
    }

}

