header.header
    div.container
        nav.header__topline
            a(href="/")
                Logo
            x-nav(:current-user="currentUser")
        div.stories
            Stories(:user-stories="userStories")

