div.actions
    div.action.star
        button.actions__btn
            img(src="../../assets/star.svg")
            | Star
        div.actions__info {{stars}}
    div.action.fork
        button.actions__btn
            img(src="../../assets/fork.svg")
            | Fork
        span.actions__info {{forks}}
